<div class="thankyou-modal modal" data-modal="2">
  <button
    class="thankyou-modal-close-btn js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="apple-checkbox-icon" width="8" height="8">
      <use href="../img/svg/thanks-mod-cross.svg#thanks-mod-cross"></use>
    </svg>
  </button>
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="
        ../img/thanks-mod/strawberry-desktop@1x.webp 1x,
        ../img/thanks-mod/strawberry-desktop@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ../img/thanks-mod/strawberry-desktop@1x.png 1x,
        ../img/thanks-mod/strawberry-desktop@2x.png 2x
      "
      type="image/png"
    />
    <source
      media="(min-width: 320px)"
      srcset="
        ../img/thanks-mod/strawberry@1x.webp 1x,
        ../img/thanks-mod/strawberry@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 320px)"
      srcset="
        ../img/thanks-mod/strawberry@1x.png 1x,
        ../img/thanks-mod/strawberry@2x.png 2x
      "
      type="image/png"
    />
    <img
      src="../img/thanks-mod/strawberry@1x.png"
      alt="Strawberry"
      class="strawberry-photo"
    />
  </picture>

  <h1 class="modal-thankyou-title">THANK YOU</h1>
  <p class="modal-thankyou-subtitle">
    Thank you for your order! Our team is preparing your box with fresh,
    delicious fruits and vegetables, and we'll deliver it straight to your
    doorstep. We appreciate your business and look forward to providing you with
    the best possible experience!
  </p>
</div>
